div.search-menu div.panel-body, 
#keyboard-shortcuts-help div div:nth-child(2) li:nth-child(5), 
div.panel ul.icons li:first-child {
 display: none;
}

#gcse {
    margin: auto;
    max-width: 500px;
    padding: 1px;
    width: auto;
    background-color: #0088cc;
    border-style: inset;
    border-color: #0088cc;
}
