div.search-menu div.panel-body, 
#keyboard-shortcuts-help div div:nth-child(2) li:nth-child(5), 
div.panel ul.icons li:first-child {
 display: none;
}

#gcse {
    //margin: 0 auto 15px auto;
    //max-width: auto;
    //text-align: center;
    //background-color: aliceblue;
    z-index: 1111;
    position: absolute;
    margin: 8px auto 0 360px;
    max-width: 730px;
}
